.completed-maincontainer{
    float: right;
    margin: -28rem 0 0 0;
}
.completed-container{
    border: 1px solid none;
    height: 28rem;
    width: 19rem;
    margin:0 3rem 0 0;
    background-color: #C0DBD2;
    border-radius: 1rem;
    
}
.completed-logo{
    padding: 1rem ;
}
