.hero-text{
    font-size: 2rem;
    margin: 7rem 10rem 0 0;
    float: right;
}

.hero-vactor{
    height: 25rem;
    margin: 9rem 0 0 2rem;
    float: left;
}
.hero-button{
    margin: 1rem 0 0 8rem;
}
.main-button{
    height: 2rem;
    width: 7rem;
    border: none;
    background-color: #BEE5D3;
    border-radius: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}