.main-nav{
    width: 100%;
    height: 5rem;
    display: grid;
    grid-template-columns: 3rem 1fr 5fr 3rem;
}
.homenav-logo{
    display: flex;
    grid-column: 2/3;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.homenav-link{
    grid-column: 3;
    margin: 0 6rem;
}
.homenav-link>ul{
    display: flex;
    justify-content:  end;
    align-items: center;
    list-style: none;
    margin-top: 2rem;
}
.homenav-link li a{
    text-decoration: none;
    color: #000;
    
}
.space{
    margin-right: 1rem;
}
.space{
    margin-right: 1rem;
}